/*Team Invite
-------------*/
.note{
    color:red;
    text-align:center;
}
#filter1{
    text-align:center;
}
#filter2{
    text-align:center;
}
#filter{
    text-align:center;
}

#wide-cell_space {
    border: 1px solid #CCCCCC;
    float: left;
    margin: -1px 1px;
    min-width: 177px;
    text-align: center;
}
.head_tab {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
/*Twitter-autobots
------------------*/
.add-more{
    margin-left:440px;
}
.autobot-field{
    margin-left:22px;
}
.autobot-field1{
    margin-left:17px;
}
.autobot-textfield{
    margin-left:12px;
    width:490px;
}
.autobot-textarea {
    height: 30px;
    resize: none;
    width: 653px;
    margin-left:12px;
}
#autobot-space{
    margin-left:22px;
    padding-top:5px;
}
.autobot-coins{
    margin-left:98px;
}
.autobot-timedrop{
    margin-left:55px;
}
.autobot-label{
    margin-left:45px;
}
#filter-head1{
    margin-left:120px;
}
#head-drop{
    margin-left:208px;
}
#head-timedrop{
    margin-left:72px;
}
#head-coin{
    margin-left:72px;
}
#rss-head{
    margin-left:245px;
}
#rss-drop{
    margin-left:290px;
}
#rss-tweet{
    margin-left:48px;
}
#rss-coin{
    margin-left:15px;
}
#autospace{
    margin-top:5px;
}
.autofllwback{
    float:right;
    margin-right:10px;
}
.autobot-tfield{
    margin-left:25px;
    width:270px;
}
#head-space{
    margin-left:313px;
}
#head-coin{
    margin-left:18px;
}
#autobot-headcoin{
    margin-left:75px;
}

/*List-It-Tool
--------------*/

#twit-list{
    border-bottom: 2px solid #CCCCCC;
    text-align:center;
    height:28px;
    padding-top:7px;
    margin-left:-10px;
    width:320px;
}
#list {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 6px #5C5C5C;
    float: left;
    margin-bottom: 10px;
    margin-left:10px;
    height: 100%;
    width: 300px;
    padding:10px;
}
.field-space{
    float:right;
}
.list-space{
    padding-top:10px;
}
.listhead-space {
    float: right;
    margin-left: -30px;
    margin-top: -29px;
    position: absolute;
}
.cnthead-space{
    float:left;
    margin-top:5px;
    margin-left:-150px;
    position:absolute;
}
#tweet-label{
    text-align:left;
}
.leftalign{
    margin-left: 10px;
}
#list-submit{
    margin-left:10px;
}
#filter-submit{
    margin-left:100px;
}

/*team-room-alerts
------------------*/
.teamside-list{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #5C5C5C;
    width:180px;
    height:400px;
    margin-top:15px;
    margin-left:5px;
    padding: 10px 10px;
}
#alertlist-pos{
    position:absolute;
}
#msglist-pos{
    float:right;
    padding-top:10px;
}
.team-border{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #5C5C5C;
    height:600px;
    min-width:780px;
    margin-top:15px;
}
#teamalert-pos{
    float:right;
}
#teammsg-pos{
    float:left;
    padding:5px;
}
.head-tab{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
#alertmsg-cont {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #CCCCCC;
    cursor: pointer;
    height: 60px;
    margin: 5px;
    padding: 5px;
}
#alert-submit{
    float:right;
    margin-top:35px;
}

/*Team-room-msg
---------------*/
#select-msg{
    padding-top:25px;
    float:left;
}
.msg-cont{
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px #CCCCCC;
    cursor: pointer;
    height: 60px;
    margin: 5px 5px 5px 25px;
    
}
#sel-all{
    margin-left:-258px;
}
.alertlink{
    float:right;
    margin-right:5px;
    margin-top:35px;
}

/*Team-room-msgs-compose
------------------------*/
#linkspace{
    margin-top:-20px;
}
#compose-lft {
    border-bottom: 2px solid #CCCCCC;
    height: 28px;
    margin-left: -10px;
    padding-top: 7px;
    text-align: center;
    width: 240px;
}
#refer-list {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #5C5C5C;
    float: left;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px;
    width: 220px;
}
#compose-cb{
    margin-left: -110px;
}
#compose-pos{
    position:absolute;
    margin-top: 15px;
    margin-left:250px;
    width:518px;
    padding: 10px;
    height: 400px;
}
#compose-to{
    margin-left: 12px;
    width: 490px;
}

/*Team-room-wall
----------------*/
.wall-border{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #5C5C5C;
    margin-top: 6px;
    padding: 2px 0;
}
#wall-head{
    margin-left:170px;
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
}
#wall-msg{
    resize:none;
    margin:5px
}
#wall-bodyheader{
    float:right;
    margin-right:400px;
}
#wall-dropbutton{
    margin:10px;
    position:absolute;
}
#msg-link{
    position:absolute;
    margin-top:60px;
    margin-left:60px
}

/*Team-Room-Team
----------------*/
#ref-len{
    height:420px;
}

.referral-list{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #5C5C5C;
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right:10px;
    padding: 10px;

}
#lft-list{
    width: 160px;
}
#mid-list{
    width: 301px;
}
#rgt-list{
    width: 450px;
}

.ref-lft {
    border-bottom: 2px solid #CCCCCC;
    height: 28px;
    margin-left: -10px;
    padding-top: 7px;
    text-align: center;
}
#leftlist-size{
    width: 180px;
}
#midlist-size{
    width: 320px;
}
#rgtlist-size{
    width: 470px;
}
.ref-mid {
    border-bottom: 2px solid #CCCCCC;
    height: 28px;
    margin-left: -10px;
    padding-top: 7px;
    text-align: center;
}
.ref-rgt {
    border-bottom: 2px solid #CCCCCC;
    height: 28px;
    margin-left: -10px;
    padding-top: 7px;
    text-align: center;
}
#reflist-pos{
    float:left;
    width:150px;
    padding-top:10px;
}
#team-trade{
    position:absolute;
    margin-left:815px; 
    margin-top:-22px
}
#connect-height{
    height:250px;
}



/*Common
--------*/
.strong{
    font-weight:900;
}
.space{
    padding:5px;
}
.head-ul{
    border-bottom:2px solid #CCCCCC;
}
/*Team-room-shortuls
--------------------*/
#url-cell_space {
    border: 1px solid #CCCCCC;
    float: left;
    margin: -1px 1px;
    min-width: 350px;
    text-align: center;
}
.urllist-space{
    padding-left:5px;
    padding-top:3px;
}
#wallet-height{
    height:850px;
}

/*Team-room-wallet
------------------*/
#wallet-total{
    float:right;
    margin-right:25px
}
#wallet-bal{
    float:right;
    margin-right:65px
}
#wallet-deb{
    float:right;
    margin-right:60px;
}	

/*Team-room-promote
-------------------*/
#promote-head{
    width:200px;
}
#promote-count{
    position:absolute;
    margin-left:300px;
    margin-top:-20px;
}
#promote-submit{
    margin-top:-27px;
}
#promote-twit{
    margin:2px 2px;
    resize:none;
}
.promote-checkfield{
    float:right;
    margin-right:200px;
    margin-top:-22px;
}
#promote-space{
    margin-right:30px;
}
.promote-textfield {
    margin-right: 48px;
    width: 850px;
}
#save-all{
    text-align:center;
    padding-top:15px;
}
#place{
    margin-top:-25px;
    margin-bottom:10px;

