/* HTML
--------------*/

* {
	margin: 0;
	padding: 0;
}


body {
	font: 0.9em Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #93C5FA;
}

a {
	color: blue;
	outline-style: none;
	text-decoration: none;
}

a:hover, a:focus {
	color: blue;
	font-size: 15px;
	cursor: pointer;
	text-decoration: underline;
}

a:active {
	color: red;
	background-color: rgba(20, 180, 20, 0.2);
	padding: 5px;
}


h1 {
	margin-bottom: 15px;
}

h3{
	color:rgba(20, 150, 20, 0.9);
}


/* COMMON
--------------*/
.hidden {
	display: none !important;
}
.clear {
	clear: both !important;
}

.right-align{
	float:right;
	
}

.empty-space{
	padding: 0 20px;
}

.active-nav{
	
}

/* TOP SITEBAR
--------------*/

#top-content {
	background-color:rgba(20, 20, 20, 0.85);
	width: 100%;
	height:50px;
}

#top-content .logo { background: url("../images/logo.png") no-repeat scroll 0 0 transparent; float:left; height:45px; width:120px; margin-left:50px; }

#top-content .member-box {
	float: right;
	margin: 3px 15px 3px 15px;
	text-align: left;
}

#top-content .member-box .wallet {
	float: left;
}

#top-content .tools-all {
	color: black;
	float: left;
	font-size: 0.9em;
	margin: 8px 10px 0 10px;
	text-align: right;
}

#top-content .tools {
	height: 35px;
}
#top-content .tools a {
	color: black;
	margin: 0 1.5px;
	padding: 0 3px;
	border
}
#top-content .tools a:hover, #top-content .tools a:focus {
	cursor: pointer;
	text-decoration: underline;
}

#top-content .notifications {
	background-position: 7px -1264px;
}

#top-content .notifications:hover, #top-content .music:hover {
	cursor: pointer;
}

/* NAVIGATIONS
--------------*/

#page-nav {
	margin: 15px 0 0 15px;

}

#page-nav .tab-group {
	height: 25px;
}



#page-nav .switcher {
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background-color: #D9E7EA;
	color: #17353B;
	float: left;
	font-size: 0.85em;
	height: 15px;
	margin: 0 2px;
	padding: 5px 10px 5px 5px;
}

#page-nav .switcher.activechan {
	background-color: #fff;
}

#page-nav .name {
	float: left;
	margin-left: 4px;
	max-height: 16px;
	max-width: 140px;
	overflow: hidden;
}

#sub_nav {	
	margin: 5px 0 15px;
	text-align: center;
}


#sub_tab {
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.05);
	margin: 5px;
	padding: 5px;
	text-align: center;
}


/* CONTENT SCREEN
------------------*/

#main-content {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 1329px;
    bottom: 5px;
    min-height: 100%;
    min-width: 1329px;
    position: absolute;
    top: 50px;
}
#wide-content{	
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.85);
	position: absolute;

    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

}

#xtra-wide{	
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.85);
	position: absolute;
}

/* LEFT Section
-----------------*/

#left-content {
		width: 286px;
	float:left;
	min-height:100%;
}

#side-bar {
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.85);
	color: #919191;
	padding: 15px 6px 4px;
}


#smart-box {
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.85);
	color: #919191;
	padding: 15px 6px 6px;
	margin-bottom:8px;

}

.content {
	-moz-border-radius: 3px 3px 3px 3px;
	background-color: #E4EDEF;
	color: #919191;
	min-height: 200px;1
	max-width: 248px;
	padding: 1px 0;
}

.long {
 height: 655px;
}


.header-bar{   
	background-color: rgba(20, 150, 20, 0.9);
	height: 20px;
	line-height: 20px;
	margin: 5px 0;
	padding: 0 5px 0;
	text-align: center;
	color:#fff;
}

.in-align{
	color: #0A1602;
	text-align: center;
}



#smart-box .element {
	height: 24px;
	margin: 6px 0;
	position: relative;
}
#smart-box .element .icon {
	-moz-border-radius: 2px 2px 2px 2px;
	background-color: white;
	border: 1px solid #636363;
	height: 22px;
	margin-left: 6px;
	width: 25px;
}


/* RIGHT Section
-----------------*/
#right-content {
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.85);
	margin-left: 296px;
	min-height:100%;
	position: absolute;
	width: 1033px;
}

#page-content {
	-moz-border-radius: 3px 3px 3px 3px;
	background-color: #FFF;
	margin:0 6px 6px 6px;
	position: absolute;
	padding:10px;
	z-index: 8;
	width:1001px;
	height:1012px;
}

.page-medium{
	height:946px;
}

.page-length{ 
	height:1400px;
}


#list-box{	
	-moz-box-shadow: 0 0 4px #CCCCCC;
	cursor: pointer;
	border: 1px solid #ddd;
	padding: 5px;
	height:60px;
	margin-bottom:5px;
}

#quick-box{	
	-moz-box-shadow: 0 0 6px #CCCCCC;
	border: 1px solid #DDDDDD;
	height: 75px;
	margin-bottom: 5px;
	margin-left: 50px;
	padding: 10px;
	width: 900px;
}

.mini-thumb
{	
	float: left;
	position: relative;
	width: 50px;
}

.quick-thumb{	float: left;
	position: relative;
	width: 50px;
	padding:0 20px;
}

.selector{	
	background-color: rgba(20, 20, 20, 0.15);
	border: 2px solid rgba(20, 120, 20, 0.9);
	-moz-border-radius: 3px 3px 3px 3px;
	float: left;
	height: 45px;
	margin-right: 10px;
	padding: 10px 5px 0;
	text-align: center;
	width: 60px;
}

.info{
	max-width:1030px;
	height: 50px;
}

.info-stat{
	color: rgba(20, 70, 20, 0.9);
	font-weight: bold;
}

.list-paginate{
	font-weight:bold; 

	text-align: center; 
}

/* Forms 
----------------------*/

.buttons-images {
	background-image: url("/buttons.png");
	background-repeat: repeat-x;
}

.signup-form {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    padding: 10px 40px;
    width: 620px;
    margin-left:155px;
    margin-right:155px;
}
fieldset {
    margin: 0 -40px;
    overflow: hidden;
    padding: 0 40px;
    border:none;
}
legend.label{
    font-size: 1.2em;
    font-weight:bold;
}
.form-row {
    margin: 1em 0 1.25em;
    overflow: hidden;
}
.form-field input.halfsize[type="text"], .form-field input.halfsize[type="url"] {
    width: 208px;
}
.form-field input[type="text"], .form-field input[type="url"] {
    padding: 1em 9px;
}
.form-field input[type="text"], .form-field input[type="password"], .form-field input[type="email"], .form-field input[type="url"] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: repeat-x scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    margin: 0 -6px 0 10px;
    padding: 1em 9px;
    outline: medium none;
}
.form-field input {
    font: 0.8em 'Helvetica Neue',Arial,Helvetica,sans-serif;
}
.form-label {
    float: left;
    font-size: 1.2em;
    padding-top: 0.50em;
    text-align: right;
    width: 140px;
}

.form-submit {
    background-color: #EFF5EE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #D7E7DB;
    color: #899A84;
    margin: 0px -40px -30px; 
    overflow: hidden;
    padding: 10px;
}
.form-field.enlarge {
    font-size: 1.2em;
    text-align:center;
}
.form-submit input {
    float: right;
}
.form-comment p {
    text-align:center;
    color: #888888;
    font-size: 0.75em;
    margin: 0.5em 0 2em;
}
input.button {
    background: repeat-x scroll 0 0 #9ACF9F;
    border: 2px solid #79AD90;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    display: inline-block;
    font: bold 1em 'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: 0 1px 0 #E7FFD5;
    white-space: nowrap;
}
fieldset p.helper {
    color: #888888;
    font-size: 0.75em;
    /*margin: 0.5em 0 2em;*/
}

.hor-line {
    border-top: 1px solid #EEEEEE;
    height: 1px;
    margin: 10px 0;
    padding: 0;
}

.timezone{
   padding-top:3px;
   padding-bottom:3px;
   margin-left:8px;
}

/* Directory
--------------*/

#brand-image{ 
		-moz-box-shadow: 0 0 10px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.05);
	height: 100px;	
	margin-bottom: 10px;
	text-align:center;
}

#ext-msg{ 
	padding: 0 10px 15px 10px;

} 

#ext-bio{ 
	-moz-border-radius: 5px 5px 5px 5px;
		-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.05);
	width: 700px;
	margin-bottom: 10px;
	float:left;
	padding: 5px 5px 5px 20px;
	min-height:100%;
}

.socio-box{ 
	-moz-border-radius: 5px 5px 5px 5px;
		-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.05);
	width: 245px;
	margin-bottom: 10px;
	float:right;
	padding: 10px;
	color:rgba(20, 100, 20, 0.9);
}

.socio-head{
	border-bottom:2px solid #ccc ;
	color:rgba(20, 150, 20, 0.9);
	font-weight:bold;
}

.socio-stats{
margin-top:5px;

}

/* TRADE panel
--------------*/

page-coloumn{
	-moz-border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #5C5C5C;
	background-color: rgba(20, 20, 20, 0.05);
	color: rgba(20, 100, 20, 0.9);
	float: left;
	margin: 0 0 10px 10px;
	padding: 10px;
	width: 245px;
}


/* TEAM INVITE
--------------- */

.body_tab {
    background:repeat-x scroll 0 0 transparent;
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
}
#cell_space {
    border: 1px solid #CCCCCC;
    float: left;
    margin:-1px 1px;
    min-width: 87px;
    text-align: center;
    
}
.invite-border{
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 4px #CCCCCC;
    min-width:100%;
    margin-top:6px;
    padding:2px 0 2px 0;
}
.filter{
    height:100%;
    min-width:100%;
    padding-bottom:8px;
}
.filter-group{
    float:right;
    position:relative;
}
.filter-select{
    width:130px;
}
#filt-group{
    width:850px;
    margin-top: -3px;
}
#filter-space{
    padding-right:40px;
}

.note{
    color:red;
    text-align:center;
}
#filter{
    text-align:center;
}

/*Twitter-autobots
------------------*/
.add-more{
    margin-left:440px;
}
.autobot-field{
    margin-left:22px;
}
.autobot-field1{
    margin-left:17px;
}
.autobot-textfield{
    margin-left:12px;
    width:490px;
}
.autobot-textarea {
    height: 30px;
    resize: none;
    width: 653px;
    margin-left:12px;
}
#autobot-space{
    margin-left:22px;
    padding-top:5px;
}
.autobot-coins{
    margin-left:98px;
}
.autobot-timedrop{
    margin-left:55px;
}
.autobot-label{
    margin-left:45px;
}
#filter-head1{
    margin-left:120px;
}
#head-drop{
    margin-left:208px;
}
#head-timedrop{
    margin-left:72px;
}
#head-coin{
    margin-left:72px;
}
#rss-head{
    margin-left:245px;
}
#rss-drop{
    margin-left:290px;
}
#rss-tweet{
    margin-left:48px;
}
#rss-coin{
    margin-left:15px;
}
#autospace{
    margin-top:5px;
}
.autofllwback{
    float:right;
    margin-right:10px;
}
.autobot-tfield{
    margin-left:25px;
    width:270px;
}
#head-space{
    margin-left:313px;
}
#head-coin{
    margin-left:18px;
}
#autobot-headcoin{
    margin-left:75px;
}

/*List-It-Tool
--------------*/

#twit-list{
    border-bottom: 2px solid #CCCCCC;
    text-align:center;
    height:28px;
    padding-top:7px;
    margin-left:-10px;
    width:320px;
}
#list {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 6px #5C5C5C;
    float: left;
    margin-bottom: 10px;
    margin-left:10px;
    height: 100%;
    width: 300px;
    padding:10px;
}
.field-space{
    float:right;
}
.list-space{
    padding-top:10px;
}
.listhead-space {
    float: right;
    margin-left: -30px;
    margin-top: -29px;
    position: absolute;
}
.cnthead-space{
    float:left;
    margin-top:5px;
    margin-left:-150px;
    position:absolute;
}
#tweet-label{
    text-align:left;
}
.leftalign{
    margin-left: 10px;
}
#list-submit{
    margin-left:10px;
}
#filter-submit{
    margin-left:100px;
}



