div.disp
{
	background-color:#F0F0F0 ;
	border-style:inset;
	//border-width:0.5px;
	border-color:#C0C0C0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:5px;
	height:30px;	
}



div.disp_det
{
padding-top:8px;
padding-left:180px;
}
div.disp_field
{
padding-left:180px;
}


div.disp_left
{
	background-color:#F0F0F0 ;
	border-style:inset;
	//border-width:0.5px;
	border-color:#C0C0C0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:5px;
	height:30px;	
	width:450px;
}

div.disp_right
{
	margin-top:-40px;
	margin-left:450px;
	float:left;
	background-color:#F0F0F0 ;
	border-style:inset;
	//border-width:0.5px;
	border-color:#C0C0C0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:5px;
	height:30px;	
	width:525px;
}

div.disp_area
{

	background-color:#F0F0F0 ;
	border-style:inset;
	//border-width:0.5px;
	border-color:#C0C0C0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:5px;
	height:120px;	
	width:450px;
}



div.disp_area_right
{
	margin-top:-149px;
	margin-left:450px;
	float:left;
	background-color:#F0F0F0 ;
	border-style:inset;
	//border-width:0.5px;
	border-color:#C0C0C0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:5px;
	height:120px;	
	width:525px;
}

div.disp_det_area
{
padding-top:8px;
padding-left:180px;
}
div.disp_field_area
{
padding-left:180px;
}
